version: "3.8"
services:
  ai_service:
    image: hampusandersson01/radiator-ai-service:latest
    ports:
      - "8000:8000"
    environment:
      - TELEGRAM_WEBHOOK=${TELEGRAM_WEBHOOK}
      - DATABASE_URL=postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD}@${POSTGRES_HOST:-host.docker.internal}:5432/radiator
    volumes:
      - ai_models:/app-v1.0.2/models
      - ai_state:/app-v1.0.2
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  bot:
    image: hampusandersson01/radiator-bot:latest
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
      - AI_URL=http://ai_service:8000/train
      - DATABASE_URL=postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD}@${POSTGRES_HOST:-host.docker.internal}:5432/radiator
    depends_on:
      - ai_service
    restart: unless-stopped

volumes:
  ai_models:
  ai_state:
